body {
  background-image:url('../img/grunge_wall.png');
}

/** Naslovna stran **/

#glava {
  color:black;
  margin-left:10px;	
}

#guido {
  color:blue;
  margin-right:40px;	
}

.hero-unit {
  height: 200px;
  margin-left:10px;
  margin-right:10px;
  background-image:url('../img/pylogo.png'), url('../img/lined_paper.png');
  background-repeat:no-repeat, repeat;
  background-position:right center, left;
  }
  
#leva {
  border-top:1px solid black;
  border-bottom:1px solid black;
}

.navbar-fixed-bottom {
  height:50px;
  text-align:center;
}

#yourcode {
  font-family:"Courier New";
  color:#000;
  width:445px;
}

/** Vadnica **/

#header-vadnica {
  margin-left:10px;
  margin-right:10px;
  border-bottom:1px solid black;
}

/** Oblika za modal **/

#glava-napaka {
  color:#8B0000;
}

#okno-telo-napaka {
  background-color:#ffe6e6;
  border-top:1px solid red;
  border-bottom:1px solid red;
}

#napaka {
  color:#ff0000;
  text-decoration:underline;
}

.nav-list {
  height:600px;
  overflow:auto;
}
