body {
  background-color:#407cab;
  background-image:url('../img/type.png');
}

#glava {
  color:white;
  margin-left:10px;	
}

#guido {
  color:white;
  margin-right:40px;	
}

.hero-unit {
  height: 200px;
  margin-left:10px;
  margin-right:10px;
  background-image:url('../img/pylogo.png'), url('../img/lined_paper.png');
  background-repeat:no-repeat, repeat;
  background-position:right center, left;
  }
  
.container {
  background-color:white;
  border:1px solid #f7d24f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.navbar-fixed-bottom {
  height:50px;
  background-color:white;
  border-top:1px solid #f7d24f;
  text-align:center;
}
